@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
    }

    &__subHeader{
        @include subheader;
        min-height: 42px;
        @include sm {
            // Don't display the subheader on each question. (We'll hide it for now and find a better solution in a subsequent assignment.)
            display: none;
        }
    }
  
    &__answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        @media only screen and (max-width: $tablet) {
            border-radius: unset;
        }
        @include sm {
            // White container for the answers is removed.
            background-color: transparent;
            box-shadow: none;
        }

    }

    &__selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
    }

    &__submitButtonContainer {
        height: 50px;
        .submitButton {
            float: right;
            @include sm {
                // Button for answer submission is full-width.
                width: 100%;
            }
        }

    }
}
